* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

// $filter-dark-gray: #312f2f;
// $filter-green: #53b804;
// $filter-yellow: #ffff00;
// $filter-red: #d22b2b;
